:root{
    --text-color : #333;
    --infor-color : #000;
    --border-color : rgb(0 0 0 / 10%);  
    --header-height : 100px;
}
.bg-black{
    background-color: #000;
}
h3,h4, h5, h6, hgroup, p, blockquote, figure, form, fieldset, input, legend, pre, abbr, button {
    margin: 0;
    padding: 0;
}

.pb-12{
    padding-bottom: 12px;
}

*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
  
html{    
      font-family: "San Francisco", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
      box-sizing: border-box;
      font-size: 62.5%;
      line-height: 1.6rem;
      color: #333;
  }
  
body{
      font-size: 1.4rem;
  }

#header{
    height: var(--header-height);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #fff;
    z-index: 1;
    margin: 0 auto;
    padding-right: 40px;
}

.block-logo{
    display: block;
    height: 100%;
    width: 180px;
    background-color: #fff;    
    position: relative;
    transform:  skew(45deg);
}

.block-logo > img {
    position: absolute;
    transform: skew(-45deg);
    height: 100%;
}

.block-logo::after{
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    right: -50px;
    width: 40px;
    height: 100px;
    background-color: #fff;
    border-right: 1px solid var(--border-color) ;
   
}

.nav{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.nav-infor{
    width:  100%;
    display: flex;
    background-color: #000;
    line-height: 40px;
    justify-content:space-between;
    position: relative;
    padding-left: 50px;
    z-index:  -1;
    transform: skew(45deg);
}


.nav-infor_open{
    display: flex;
    align-items: center;
    color: #fff;
    height: 40px;
    transform: skew(-45deg);
    position:  relative;
}


.nav-infor  a{
    color: #fff;
    width: 100%;
}

.nav-infor_open--time{
    padding-left: 8px;
}

.nav-infor_open--phone{
    padding: 0 8px;
    background-color: #f19100;
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-infor_open--phone::before{
    display: block;
    content: "";
    border: 20px solid;
    border-color: #000 transparent transparent #000;
    position: absolute;
    top : 0;
    right: 0;
    transform:  translateX(100%);
}

.nav-infor_open--phone::after{
    display: block;
    content: "";
    border: 20px solid;
    border-color: #000 transparent transparent #000;
    position: absolute;
    top : 0;
    right: -60px;
    transform: skew(-45deg);
}


.nav-infor_open--phone > a,
.nav-icon-phone
{   text-decoration: none;
    cursor: pointer;
    color: #fff;
    padding: 0 4px;
    display: block;
    transform: skew(-45deg);
 }

.nav-content{
    width: 100%;
    flex: 1;
    display: flex;
    padding-left: 100px;
    justify-content: space-between;
}

.nav-item{
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}

.nav-item > i {
    margin: 0 4px;
    opacity: 0.68;
}


.nav-item-title{
    display: block;
    font-weight: 500; 
    color: rgba(0, 0, 0, 0.6);
}

.nav-item.active  .nav-item-title{
    color: #000;
}

.sub-nav{
    position: absolute;
    top: 100%;
    margin: 0 auto;
    min-width: 180px;
    line-height: 16px;
    list-style:  none;
    box-shadow: 1px 1px #cfcfcf;
    background-color: #fff;
    border-radius: 2px;
    display: none;  
}

.sub-nav-item:hover{
    color:#fff;
}

.nav-item:hover .sub-nav{
   display: block;
}

.sub-nav__item{
    line-height: 32px;
    display: block;
    margin: 0 8px;
}

.sub-nav__item + .sub-nav__item{
   
}

.sub-nav-links:hover{
    color: #333;
}
.sub-nav-links{
    display: block;
    text-decoration: none;
    color: #666
}

#main{
    margin-top: var(--header-height);

}

.slider:hover{
    background: linear-gradient();
}

.slider-item{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    
}

.slider_content{

}

.text-content{
    position: absolute;
    bottom: 0;
}

.footer-icon{
    color: #000;
    opacity: 0.6;
}

.btn:hover .footer-icon{
    opacity: 1;
}


/* ------------------------------Slider-------------------------------------------- */
.slider-img{
    width: 100%;
}

.museum-section{ 
    padding-bottom: 60px;
}

.museum-section_header{
    text-align: center;
    padding: 40px;
}

.museum-section_title{
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 40px;
}

.museum-introduce{
    height: 600px;
    display: flex;
}

.introduce-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;   
}

.introduce-content{
    padding: 64px 64px 64px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-color: #000;
}

.introduce-history,
.introduce-view{
    display: flex;
    align-items: center;
    padding: 20px 0;
    line-height: 16px;
    
}

.introduce-title{
    display: block;
    text-transform: uppercase;
    text-align: center;
    align-items: flex-start;
}
.introduce-view_group{
    display: flex;
    justify-content: space-between;
}

.history-description{
    padding: 20px;
}

.history-description > p,
.introduce-view_item > p{
    line-height: 24px;
    text-align: justify;
}

.history-description > p{
    padding : 12px 0;
}

.map{
    width: 100%;
}

/* ----------------------Gallery------------*/
.gallery{
    background-color: #f8f8f8;
}

.product-item{
    padding: 12px 10px;
    border-radius: 4px;
}
.product-img{
    width:  100%;
    display: block;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.product-img:hover {
    opacity: 0.6;
    cursor: pointer;
}

.product-body{
    padding: 8px;
    background-color: #fff;
    text-align: center;
    color: #fff;
    background-color: #000;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.product-heading{
    font-size: 20px;
    color: #ca8c2e;
    margin: 15px 0px;
}

.product-desc{
    font-size: 15px;
    margin: 15px 0px;
    line-height: 1.4;
    
}


/* ------------event----------- */
.event{
    background-color: #fff;
}

  
.widget .panel, .widget.panel {
    overflow: hidden;
}
  
.widget {
    margin-bottom: 20px;
    border: 0;
}
  
.row-table {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
}
  
.row-flush>[class*=col-] {
    padding-left: 0;
    padding-right: 0;
}
  
.row-table>[class*=col-] {
    display: table-cell;
    float: none;
    table-layout: fixed;
    vertical-align: middle;
  }
  
.widget .lateral-picture {
    position: relative;
    display: block;
    height: 300px;
    width: auto;
    overflow: hidden;
  }
  
.widget .lateral-picture>img {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    width: auto;
}
  
.btn {
    border-radius: 3px;
    font-size: 13px;
    border-color: transparent;
    -webkit-appearance: none;
    outline: 0!important;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}

.btn-primary{
    margin-top: 10px;
    padding: 10px 24px;
    background-color: #333;
    text-transform: uppercase;
    
}
.btn-primary:hover{
    background-color: #f19100;
}

.event-header{
    padding: 12px 0;
    color: #ca8c2e;
    text-transform: uppercase;
    font-size: 20px;
}

.event-time{
    line-height: 20px;
    padding: 10px 0;
    color: #000;
}

.event-description{
    line-height: 20px;
    padding: 12px 0;
    text-align: justify;
}

.event-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.event-item{
    padding: 0 24px 0 0;
}

#target{
    color: #fff;
}