@media (max-width : 900px) {
    
#header{
    height: 40px;
    overflow-x: hidden;
}

.block-logo{
    display: none;
}

.nav{
    width: 90%;
}
.nav-content{
    display: none;
}

.nav-infor_open--phone {
    display: none;
}
}